//background 1
.card {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .card-content {
        width: 500px;
        height: 400px;
        padding: 20px;
        margin: 0 6rem;
        font-family: sans-serif;

        .card-heading {
            font-size: 3rem;
            margin-bottom: 8px;
            font-family: sans-serif;
        }
        p {
            margin: 20px 0;
            margin-bottom: 20px;
            line-height: 1.5rem;
        }
        a {
            text-decoration: none;
            color: white;
            background: black;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }

    .card-img {
        width: 500px;
    }
}
